In [39]:
import yfinance as yf
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [2]:
tickers = pd.read_csv("https://www.cboe.com/us/equities/market_statistics/listed_symbols/csv", usecols=["Name"])

In [3]:
allTickerDF = pd.DataFrame()

In [4]:
for i in range(len(tickers["Name"])):
    currentTickerDF = yf.Ticker(tickers["Name"].iloc[i]).history(period="max")
    currentTickerDF['Name'] = tickers["Name"].iloc[i]
    allTickerDF = pd.concat([allTickerDF, currentTickerDF])

In [5]:
allTickerDF.sort_index(inplace=True)

In [6]:
allTickerDF.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Name
Date,,,,,,,,
2021-09-13,59.970001,60.012199,59.450001,60.012199,2526.0,0.0,0.0,WUGI
2021-09-13,28.480000,29.000000,28.670000,28.750000,236704.0,0.0,0.0,IGE
2021-09-13,36.930000,36.930000,36.730000,36.730000,604.0,0.0,0.0,FJUN
2021-09-13,29.530001,29.530001,29.510000,29.520000,1994.0,0.0,0.0,XDQQ
2021-09-13,21.189301,21.189301,21.150101,21.150101,259.0,0.0,0.0,YMAR

In [7]:
allTickerDF = allTickerDF.reset_index().pivot(index="Date", values=["Open", "High", "Low", "Close", "Volume", "Dividends", "Stock Splits"], columns='Name')

In [8]:
allTickerDF

                 Open                                                         \
Name             ACIO       ACSI        ACWV   ADFI       ADME    AESR  AFIF
Date
2000-05-26        NaN        NaN         NaN    NaN        NaN     NaN   NaN
2000-05-30        NaN        NaN         NaN    NaN        NaN     NaN   NaN
2000-05-31        NaN        NaN         NaN    NaN        NaN     NaN   NaN
2000-06-01        NaN        NaN         NaN    NaN        NaN     NaN   NaN
2000-06-02        NaN        NaN         NaN    NaN        NaN     NaN   NaN
...               ...        ...         ...    ...        ...     ...   ...
2021-09-07  31.100000  51.404999  107.970001  9.730  41.500000  14.360  9.69
2021-09-08  30.923000  51.284000  107.040001  9.740  41.292999  14.280  9.70
2021-09-09  31.090000  51.306999  107.699997  9.775  41.389999  14.190  9.71
2021-09-10  31.066999  51.119999  107.260002  9.770  41.369999  14.214  9.70
2021-09-13  31.020000  50.759998  106.959999  9.789  41.279999  14.170  9.70

                                             ... Stock Splits                 \
Name              AGT       ALFA       ALTS  ...         XSHD XSHQ XTAP XTJL
Date                                         ...
2000-05-26        NaN        NaN        NaN  ...          NaN  NaN  NaN  NaN
2000-05-30        NaN        NaN        NaN  ...          NaN  NaN  NaN  NaN
2000-05-31        NaN        NaN        NaN  ...          NaN  NaN  NaN  NaN
2000-06-01        NaN        NaN        NaN  ...          NaN  NaN  NaN  NaN
2000-06-02        NaN        NaN        NaN  ...          NaN  NaN  NaN  NaN
...               ...        ...        ...  ...          ...  ...  ...  ...
2021-09-07  31.170000  89.489998  39.290001  ...          0.0  0.0  0.0  0.0
2021-09-08  31.500000  88.110001  39.119999  ...          0.0  0.0  0.0  0.0
2021-09-09  31.110001  88.519997  39.150002  ...          0.0  0.0  0.0  0.0
2021-09-10  31.100000  87.669998  39.060001  ...          0.0  0.0  0.0  0.0
2021-09-13  31.299999  86.190002  39.111000  ...          0.0  0.0  NaN  NaN


Name        XVV YDEC YJUN YMAR  YPS ZECP
Date
2000-05-26  NaN  NaN  NaN  NaN  NaN  NaN
2000-05-30  NaN  NaN  NaN  NaN  NaN  NaN
2000-05-31  NaN  NaN  NaN  NaN  NaN  NaN
2000-06-01  NaN  NaN  NaN  NaN  NaN  NaN
2000-06-02  NaN  NaN  NaN  NaN  NaN  NaN
...         ...  ...  ...  ...  ...  ...
2021-09-07  0.0  0.0  0.0  0.0  0.0  0.0
2021-09-08  0.0  0.0  0.0  0.0  0.0  0.0
2021-09-09  0.0  0.0  0.0  0.0  0.0  0.0
2021-09-10  0.0  0.0  0.0  0.0  0.0  0.0
2021-09-13  0.0  NaN  0.0  0.0  0.0  0.0

[5358 rows x 3542 columns]

We are trying to predict the closing price one day ahead

In [33]:
def create_train_test(data, startDate, numberOfDays=3):
    data = data.loc[startDate:].iloc[:numberOfDays+1].dropna(axis=1)
    train = data.iloc[:numberOfDays]
    test = data.iloc[numberOfDays].loc["Close"].to_list()
    return train, test

In [35]:
train, test = create_train_test(data=allTickerDF, startDate='2021-01-04')

In [36]:
train

                 Open                                                    \
Name             ACIO       ACSI       ACWV       ADME   AESR      AFIF
Date
2021-01-04  27.716454  45.000000  96.628425  35.929054  11.82  9.700650
2021-01-05  27.430388  42.639999  95.637568  35.879124  11.78  9.680834
2021-01-06  27.549995  43.080002  95.409677  35.809227  11.74  9.631289

                                                        ... Stock Splits       \
Name              AGT       ALFA       ALTS       AMER  ...         WLDR WUGI
Date                                                    ...
2021-01-04  26.346062  76.419998  36.241614  25.879416  ...          0.0  0.0
2021-01-05  25.647230  76.389999  36.320552  26.087561  ...          0.0  0.0
2021-01-06  25.747063  74.930000  36.577090  26.335356  ...          0.0  0.0


Name        XJH  XJR XMPT XSHD XSHQ  XVV YDEC  YPS
Date
2021-01-04  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2021-01-05  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2021-01-06  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[3 rows x 2989 columns]

In [37]:
test

[27.85898780822754,
 43.79399871826172,
 96.46989440917969,
 36.208656311035156,
 12.01099967956543,
 9.67092514038086,
 25.744068145751953,
 79.44999694824219,
 36.75864791870117,
 27.1282901763916,
 103.37999725341797,
 84.11000061035156,
 12.285094261169434,
 28.10700035095215,
 25.57900047302246,
 25.95199966430664,
 29.770000457763672,
 29.96500015258789,
 55.146827697753906,
 55.413368225097656,
 53.46980285644531,
 56.070919036865234,
 56.400001525878906,
 76.1429214477539,
 51.839237213134766,
 69.42161560058594,
 30.733999252319336,
 27.290000915527344,
 32.96500015258789,
 30.200000762939453,
 31.27199935913086,
 28.040315628051758,
 29.829999923706055,
 29.799999237060547,
 30.034000396728516,
 30.280000686645508,
 30.94812774658203,
 29.420000076293945,
 33.37300109863281,
 21.65999984741211,
 52.57899856567383,
 34.098419189453125,
 96.79000091552734,
 26.305999755859375,
 19.059438705444336,
 51.79339599609375,
 30.602386474609375,
 45.824398040771484,
 34.82173156738281,
 85.41938781738281,
 9.747414588928223,
 33.20000076293945,
 25.68000030517578,
 27.304000854492188,
 30.634000778198242,
 31.166454315185547,
 28.319950103759766,
 25.68899917602539,
 24.650468826293945,
 32.400001525878906,
 24.517271041870117,
 36.612998962402344,
 25.29800033569336,
 26.483999252319336,
 23.770000457763672,
 33.720516204833984,
 31.808000564575195,
 32.47999954223633,
 32.79999923706055,
 33.5099983215332,
 31.049999237060547,
 29.363325119018555,
 31.17099952697754,
 25.731000900268555,
 28.32699966430664,
 27.229999542236328,
 28.355037689208984,
 30.343000411987305,
 31.59000015258789,
 30.794370651245117,
 26.94734764099121,
 27.724334716796875,
 29.2379093170166,
 31.93408966064453,
 99.23445129394531,
 61.84674072265625,
 43.570980072021484,
 72.91703033447266,
 101.32457733154297,
 45.3432731628418,
 48.52471923828125,
 27.58300018310547,
 59.03327560424805,
 49.6083869934082,
 44.62521743774414,
 72.08965301513672,
 50.08320617675781,
 25.896350860595703,
 23.547883987426758,
 22.20500946044922,
 21.936634063720703,
 92.7657470703125,
 126.22744750976562,
 71.03427124023438,
 20.550283432006836,
 35.917808532714844,
 46.935890197753906,
 24.760929107666016,
 77.4368896484375,
 43.07877731323242,
 34.025665283203125,
 45.139892578125,
 26.780000686645508,
 34.92100143432617,
 29.190000534057617,
 24.838722229003906,
 26.109750747680664,
 30.268503189086914,
 30.834999084472656,
 27.38669776916504,
 27.699878692626953,
 75.9020004272461,
 26.577802658081055,
 33.2599983215332,
 31.35738754272461,
 31.994873046875,
 29.286487579345703,
 23.87804412841797,
 100.80693054199219,
 33.1609992980957,
 34.22600173950195,
 24.421737670898438,
 50.86180877685547,
 25.816909790039062,
 25.5049991607666,
 50.6172981262207,
 37.97611999511719,
 38.77397537231445,
 33.40559005737305,
 54.71863555908203,
 34.61600112915039,
 25.124727249145508,
 35.45899963378906,
 31.739999771118164,
 33.63956832885742,
 32.41600036621094,
 29.336999893188477,
 40.494998931884766,
 24.79422950744629,
 29.847103118896484,
 29.312801361083984,
 49.36463165283203,
 26.791872024536133,
 35.279998779296875,
 26.919584274291992,
 22.15749740600586,
 56.221309661865234,
 58.70689010620117,
 53.07259750366211,
 50.634117126464844,
 52.709266662597656,
 56.334632873535156,
 21.9401912689209,
 115.89750671386719,
 41.40192794799805,
 31.781457901000977,
 30.90632438659668,
 16.8799991607666,
 48.683998107910156,
 40.801021575927734,
 60.74861526489258,
 49.81922912597656,
 60.530025482177734,
 56.900001525878906,
 56.029998779296875,
 59.12300109863281,
 23.9779052734375,
 23.8516788482666,
 23.796171188354492,
 23.703065872192383,
 24.239078521728516,
 25.0053653717041,
 25.963489532470703,
 26.93106460571289,
 28.05254364013672,
 26.989675521850586,
 27.155364990234375,
 27.43505859375,
 51.270973205566406,
 29.928136825561523,
 50.38114929199219,
 100.02511596679688,
 25.925817489624023,
 30.304676055908203,
 30.155658721923828,
 40.3514289855957,
 70.13258361816406,
 26.532405853271484,
 38.62607955932617,
 33.002384185791016,
 34.318599700927734,
 39.81013870239258,
 47.28840637207031,
 31.26014518737793,
 24.95856285095215,
 53.76777267456055,
 74.44105529785156,
 63.53791809082031,
 349.510009765625,
 9.921964645385742,
 35.88100051879883,
 40.68211364746094,
 37.1824951171875,
 45.439998626708984,
 93.20744323730469,
 56.64289474487305,
 51.44013977050781,
 28.297473907470703,
 12.381999969482422,
 12.132885932922363,
 11.706263542175293,
 12.107084274291992,
 98.6406021118164,
 23.43936538696289,
 225.10707092285156,
 30.635761260986328,
 31.420000076293945,
 54.74923324584961,
 50.949092864990234,
 54.58339309692383,
 50.58106231689453,
 51.150787353515625,
 50.58624267578125,
 29.437999725341797,
 26.860000610351562,
 29.625,
 26.06999969482422,
 47.599945068359375,
 24.95884132385254,
 26.177000045776367,
 26.835952758789062,
 48.087982177734375,
 26.23900032043457,
 59.871421813964844,
 28.541505813598633,
 28.30296516418457,
 27.315000534057617,
 23.31767463684082,
 26.718000411987305,
 24.603673934936523,
 30.856000900268555,
 24.80655860900879,
 50.09712600708008,
 39.95000076293945,
 24.734054565429688,
 21.447866439819336,
 63.88999938964844,
 34.38600158691406,
 27.937999725341797,
 27.48200035095215,
 23.691999435424805,
 165.0103759765625,
 35.56999969482422,
 49.906700134277344,
 38.2400016784668,
 44.685001373291016,
 80.59876251220703,
 36.150001525878906,
 27.8799991607666,
 30.099000930786133,
 34.91999816894531,
 35.58000183105469,
 57.27000045776367,
 33.720001220703125,
 50.20000076293945,
 31.131999969482422,
 26.139909744262695,
 40.400001525878906,
 27.427000045776367,
 24.92254066467285,
 54.959999084472656,
 43.04308319091797,
 41.61248016357422,
 35.43622589111328,
 29.322704315185547,
 37.90963363647461,
 32.03974914550781,
 27.34000015258789,
 28.3700008392334,
 22.784440994262695,
 72.92330169677734,
 27.77381706237793,
 28.732093811035156,
 26.1557674407959,
 35.01990509033203,
 25.850492477416992,
 38.3264045715332,
 29.108999252319336,
 31.004356384277344,
 26.280000686645508,
 40.658592224121094,
 30.790000915527344,
 28.93000030517578,
 30.215999603271484,
 28.510000228881836,
 28.475000381469727,
 29.100000381469727,
 27.899999618530273,
 36.400001525878906,
 20.871000289916992,
 28.059999465942383,
 21.05699920654297,
 20.53700065612793,
 15.347846984863281,
 13.324575424194336,
 20.93199920654297,
 16.512475967407227,
 14.614241600036621,
 22.84000015258789,
 33.16999816894531,
 33.474998474121094,
 52.029998779296875,
 30.078683853149414,
 20.1299991607666,
 41.42372131347656,
 56.15999984741211,
 115.78494262695312,
 29.099233627319336,
 26.22254753112793,
 64.4300537109375,
 30.561315536499023,
 28.736787796020508,
 36.583709716796875,
 26.999052047729492,
 99.66500091552734,
 25.604000091552734,
 25.389999389648438,
 36.880001068115234,
 25.531553268432617,
 21.36368179321289,
 35.884437561035156,
 26.81599998474121,
 48.04467010498047,
 51.304988861083984,
 51.11885070800781,
 24.59824562072754,
 37.58926773071289,
 18.283334732055664,
 18.001028060913086,
 59.91756057739258,
 44.29999923706055,
 59.38846969604492,
 34.78912353515625,
 33.83469772338867,
 31.836071014404297,
 25.017871856689453,
 49.42987060546875,
 34.38100051879883,
 26.436473846435547,
 41.56999969482422,
 46.80552291870117,
 26.361000061035156,
 20.17244529724121,
 24.155000686645508,
 30.420000076293945,
 54.112571716308594,
 26.847999572753906,
 22.912885665893555,
 24.110000610351562,
 23.713041305541992,
 25.375,
 148.27574157714844,
 42.524169921875,
 35.310001373291016,
 16.484500885009766,
 25.06368637084961,
 25.826000213623047,
 28.420000076293945,
 47.439998626708984,
 32.78499984741211,
 24.96500015258789,
 27.920000076293945,
 28.540000915527344,
 26.084999084472656,
 29.950000762939453,
 26.450000762939453,
 28.040000915527344,
 27.790000915527344,
 28.440000534057617,
 26.90999984741211,
 27.155000686645508,
 31.523962020874023,
 39.990577697753906,
 35.794063568115234,
 67.54875183105469,
 103.5,
 20.89562225341797,
 74.4853286743164,
 97.52737426757812,
 87.69831085205078,
 118.16915130615234,
 91.52545166015625,
 103.57870483398438,
 82.05331420898438,
 28.51087188720703,
 36.25,
 54.040000915527344,
 89.79955291748047,
 27.242000579833984,
 18.209999084472656,
 60.03875732421875,
 27.57417869567871,
 66.0,
 30.31999969482422,
 51.01968765258789,
 54.07810974121094,
 82.16300201416016,
 23.4056396484375,
 51.869998931884766,
 33.27541732788086,
 35.09431076049805,
 27.51357650756836,
 20.79218864440918,
 34.858856201171875,
 28.884952545166016,
 20.479999542236328,
 19.423999786376953]

In [42]:
scaler = MinMaxScaler()
scaler.fit(train)

train_scaled = scaler.transform(train)

In [43]:
train_scaled

array([[1.        , 1.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.18698829, ..., 0.        , 0.        ,
        0.        ],
       [0.41810997, 0.18644166, 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [44]:
train

                 Open                                                    \
Name             ACIO       ACSI       ACWV       ADME   AESR      AFIF
Date
2021-01-04  27.716454  45.000000  96.628425  35.929054  11.82  9.700650
2021-01-05  27.430388  42.639999  95.637568  35.879124  11.78  9.680834
2021-01-06  27.549995  43.080002  95.409677  35.809227  11.74  9.631289

                                                        ... Stock Splits       \
Name              AGT       ALFA       ALTS       AMER  ...         WLDR WUGI
Date                                                    ...
2021-01-04  26.346062  76.419998  36.241614  25.879416  ...          0.0  0.0
2021-01-05  25.647230  76.389999  36.320552  26.087561  ...          0.0  0.0
2021-01-06  25.747063  74.930000  36.577090  26.335356  ...          0.0  0.0


Name        XJH  XJR XMPT XSHD XSHQ  XVV YDEC  YPS
Date
2021-01-04  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2021-01-05  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2021-01-06  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[3 rows x 2989 columns]